import { 
  {{#methods}}{{model.name}}Wrapped,
{{/methods}}  
} from "./methods";
import { {{name}}Method } from "./{{name}}Method";

export function invoke{{name}}Method(method: u32, buffer: ArrayBuffer): ArrayBuffer {  
  switch (method) {
    {{#methods}}
    case {{model.className}}Method.{{model.namePascalCase}}:
      return {{model.name}}Wrapped(buffer);
    {{/methods}}  
    default:
      throw new Error("Unknown method " + method.toString() + " on class {{name}}");
  }
}
