import { {{name}} } from "../../..";
import { deserializeType } from "./args-serialization";
import { serializeResult } from "./serializeResult";

export function {{name}}Wrapped(dataBuffer: ArrayBuffer): ArrayBuffer {
  const args = deserializeType(dataBuffer);

  const result = {{name}}(
    {{#args}}
    args.{{name}}{{^last}},{{/last}}
    {{/args}}
  );

  return serializeResult(result);
}
