import { parse } from '@serial-as/json'
import { bufferToU32 } from "../../buffer";
import { 
  {{#list}}
  {{^model.isExternal}}
  {{model.name}},
  {{/model.isExternal}}
  {{/list}} 
} from "../../..";
{{#relatedTypes}}
{{#isClass}}
import { {{nativeTypeNameWrapped}} } from "../../wrapped";
{{#isExternal}}
import { {{nativeTypeName}} } from "../../host/classes";
{{/isExternal}}
{{^isExternal}}
import { {{nativeTypeName}} } from "../../..";
{{/isExternal}}
{{/isClass}}
{{#isStruct}}
import { {{nativeTypeName}} } from "../../..";
{{/isStruct}}
{{/relatedTypes}}
import { BaseTypeSerialization } from '../../serialization/BaseTypeSerialization';

export function invoke(buffer: ArrayBuffer): ArrayBuffer {
  const funcId = bufferToU32(buffer);
  const dataBuffer = buffer.slice(4);

  switch (funcId) {
    {{#list}}
    case WrapManifest.Internal.GlobalFunction.{{model.namePascalCase}}:
        return invoke{{model.namePascalCase}}Wrapped(dataBuffer);
    {{/list}}
    default:
      throw new Error("Unknown function/method: " + funcId);
  }
}

{{#list}}
const invoke{{model.namePascalCase}}Wrapped = (buffer: ArrayBuffer): ArrayBuffer => {
  const argsBuffer = buffer;

  const args = {{model.namePascalCase}}ArgsWrapped.deserialize(argsBuffer);

  const result = {{model.name}}(
    {{#model.args}}
    args.{{model.name}},
    {{/model.args}}
  );

  {{#model.result.isClass}}
  return {{model.result.nativeTypeNameWrapped}}.serialize(result);
  {{/model.result.isClass}}
  {{^model.result.isClass}}
  return BaseTypeSerialization.serialize<{{model.result.nativeTypeName}}>(result);
  {{/model.result.isClass}}
};

class {{model.namePascalCase}}Args {
  constructor(
    {{#model.args}}
    public {{model.name}}: {{model.typeInfo.nativeTypeName}},
    {{/model.args}}
  ) {
  }
}

@serializable
class {{model.namePascalCase}}ArgsWrapped {
  constructor(
    {{#model.args}}
    public {{model.name}}: {{model.typeInfo.nativeTypeNameWrapped}},
    {{/model.args}}
  ) {
  }

  static deserialize(buffer: ArrayBuffer): {{model.namePascalCase}}Args {
    const args = parse<{{model.namePascalCase}}ArgsWrapped>(String.UTF8.decode(buffer));
  
    return new {{model.namePascalCase}}Args(
      {{#model.args}}
      {{#model.typeInfo.isClass}}
      {{model.typeInfo.nativeTypeNameWrapped}}.mapFromSerializable(args.{{model.name}}),
      {{/model.typeInfo.isClass}}
      {{^model.typeInfo.isClass}}
      args.{{model.name}},
      {{/model.typeInfo.isClass}}
      {{/model.args}}
    );
  }  
}
{{/list}}
