import { bufferToU32 } from "../../buffer";
import { ClassList } from "./ClassList";
{{#classes}}
{{#isInternal}}
import { invoke{{name}}Method } from "./list/{{name}}/invoke{{name}}Method";
{{/isInternal}}
{{/classes}}

export function invokeClassMethod(buffer: ArrayBuffer): ArrayBuffer {
  const classId = bufferToU32(buffer);
  const method = bufferToU32(buffer, 4);
  const dataBuffer = buffer.slice(8);

  switch (classId) {
    {{#classes}}
    {{#isInternal}}
    case ClassList.{{name}}:
      return invoke{{name}}Method(method, dataBuffer);
    {{/isInternal}}
    {{/classes}}
    default:
      throw new Error("Unknown class ID: " + classId);
  }
}
