pub mod WrapManifest {
  pub mod Internal {
    pub enum GlobalFunction {
      {{#globalFunctions.list}}
      {{^model.isExternal}}
      {{model.namePascalCase}} = {{index}},
      {{/model.isExternal}}
      {{/globalFunctions.list}}
    }

    pub enum Class {
      {{#types}}
      {{#model.isClass}}
      {{^model.isExternal}}
      {{model.name}} = {{index}},
      {{/model.isExternal}}
      {{/model.isClass}}
      {{/types}}
    }

    pub mod Classes {
      {{#types}}
      {{#model.isClass}}
      {{^model.isExternal}}
      pub enum {{model.name}}Method {
        {{#model.methods}}
        {{model.namePascalCase}} = {{index}},
        {{/model.methods}}
      }
      {{/model.isExternal}}
      {{/model.isClass}}
      {{/types}}
    }
  }

  pub mod External {
    pub enum GlobalFunction {
      {{#globalFunctions.list}}
      {{#model.isExternal}}
      {{model.namePascalCase}} = {{index}},
      {{/model.isExternal}}
      {{/globalFunctions.list}}
    }

    pub enum Class {
      {{#types}}
      {{#model.isClass}}
      {{#model.isExternal}}
      {{model.name}} = {{index}},
      {{/model.isExternal}}
      {{/model.isClass}}
      {{/types}}
    }

    pub mod Classes {
      {{#types}}
      {{#model.isClass}}
      {{#model.isExternal}}
      pub enum {{model.name}}Method {
        {{#model.methods}}
        {{model.namePascalCase}} = {{index}},
        {{/model.methods}}
      }
      {{/model.isExternal}}
      {{/model.isClass}}
      {{/types}}
    }
  }
}
