{{#nonScalarArgs}}
import { {{asTypeName}} } from "../../../types/{{asTypeName}}";
{{/nonScalarArgs}}

@serializable
export class Args {
  constructor(
  {{#args}}
    public {{name}}: {{asTypeName}},
  {{/args}}
  ) {}
}
