import { stringify } from "@serial-as/json";
{{^isReturnScalar}}
import { {{asReturnType}} } from "../../../types/{{asReturnType}}";
{{/isReturnScalar}}

export function serializeResult(result: {{asReturnType}}): ArrayBuffer {
  return String.UTF8.encode(stringify<{{asReturnType}}>(result));
}
